{% extends 'admin_base.html' %}
{% load static%}
{% block content%}

    <div class="content mt-5   ">
        <div class="container tm-mt-big tm-mb-big">
            <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                    <h2 class="tm-block-title d-inline-block">Add Category</h2>
                    </div>
                </div>
                <div class="row tm-edit-product-row">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                    <form action="" class="tm-edit-product-form" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="form-group mt-3">
                        <label
                            for="name"
                            >Category Name
                        </label>
                        <input
                            id="category" 
                            onkeyup="validateCategory()"
                            name="category_name"
                            type="text"
                            class="form-control validate"
                            
                        />
                        </div>
                        <span id="category-error"></span>

                        
                    </div>
                    
                    <div class="form-group mt-3">
                        <label for="pimage">Image</label>
                        <input type="file" class="form-control" name="image"  id="image" accept="image/*" onclick="validateImage()"  placeholder="Product Image">
                        <span id="image-error"></span>
                        
                      </div>
                    
                    
                    {% for message in messages%}
                    <script>
                    swal('{{message}}')
                    </script>
                    {%endfor%}
                    <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Category Now</button>
                    </div>
                </form>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <script>
        var categoryError = document.getElementById('category-error');
        var imageError = document.getElementById('image-error');
        

        function validateCategory() {
            
            var category=document.getElementById('category').value.trim();
            var image = document.getElementById('image')
            console.log(image.value)
            
            
            var Required=4;
            var left=Required - category.length;  
        
            if (category.length==0) {
                categoryError.innerHTML='category is Required';
                categoryError.style.color='red'
                return false;
                }
            if (left>0){
            
                categoryError.innerHTML =left+ 'more character Required';
                categoryError.style.color='red'
                return false;
            
            }
            categoryError.innerHTML='category is valid';
            categoryError.style.color='green'
            return true;
        }

        function validateImage() {
            var image=document.getElementById('image').value();  
        
            if (image=='') {
                imageError.innerHTML='image is Required';
                imageError.style.color='red'
                return false;
                }
        
            imageError.innerHTML='image is valid';
            imageError.style.color='green'
            return true;
            }
        jQuery_1_7_1(document).on("submit", "form", function (e) {
        
        
            if (validateCategory()) {
                
            } else {
                e.preventDefault();
                swal('Invalid data! Ensure You have entered correct data');
                return true;
            }
        });

    </script>



{% endblock%}
