
{% extends 'admin_base.html' %}
{% load static%}

{% block content%}
      <div class="content">
        <h3 class=" mt-5" style="color: #4D0808; font-family:poppins;">CATEGORY MANAGEMENT</h3>
        <a href="/admin_category/add_category"><button class="btn btn-outline-primary mt-3 float-right">ADD CATEGORY</button></a>

        <table id="example" class="table table-striped  mt-5">
          <thead>
            <tr>
            
            <th scope="col">Category Name</th>
            <th scope="col">Image</th>

            </tr>
          </thead>
          <tbody>
            
            {%for category in category%}
    
            <tr>
            <td >{{category.category_name}}</td>
            <td><img src="{{category.image.url}}" style="height:100px;width: 100px;border-radius: 14%;" alt=""></td>
            
            <td><a href="edit_category/{{category.id}}"> <button class="btn btn-outline-primary " type="submit" >Edit</button></a></td>
			<td><a href="delete_category/{{category.id}}"> <button onclick ="return confirm('Delete {{category.category_name}}?')" class="btn btn-outline-danger " type="submit">Delete</button></a></td>
			</tr>
            {%endfor%}
            
          </tbody>
          </table>
      </div>

{%endblock%}