{% extends 'admin_base.html' %}
{% load static%}

{% block content%}

<div class="content">
        <div class="container tm-mt-big tm-mb-big ">
            <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row ">
                    <div class="col-12">
                    <h2 class="tm-block-title d-inline-block">Edit Category</h2>
                    </div>
                </div>
                <div class="row tm-edit-product-row mt-10">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                    <form action="" method="post" class="tm-edit-product-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group mt-5">
                        <label
                            for="name"
                            >Category Name
                        </label>
                        <input
                            id="category" 
                            onkeyup="validateCategory()"
                            name="category_name"
                            type="text"
                            value="{{category.category_name}}"
                            class="form-control validate"
                        />
                        <span id="category-error"></span>
                    </div>
                        
                        
                        
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                        <div class="tm-product-img-edit mx-auto">
                        <img src="{{category.image.url}}" alt="Category image" type="file" accept="image/*" name="image" class="img-fluid d-block mx-auto">
                        <i
                        class="fas fa-cloud-upload-alt tm-upload-icon"
                        onclick="document.getElementById('viewImg1').click();"
                        ></i>
                        </div>
                        <div class="custom-file mt-3 mb-3">
                        <input id="viewImg1" type="file" name="image" style="display:none;" onchange="viewImage1(event)"  />
                        <input
                        type="button"
                        class="btn btn-primary btn-block mx-auto"
                        value="CHANGE IMAGE NOW"
                        onclick="document.getElementById('viewImg1').click();"
                        />
                        </div>
                        </div>
                        {% for message in messages%}
				<div  class="alert alert-light alert-dismissible fade show mt-3" role="alert">
					<strong class="text-danger">{{message}}</strong>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  {%endfor%}
                        <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block text-uppercase">Update Now</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>


    <script>
        function viewImage1(event){
            document.getElementById('viewImg1').src=URL.createObjectURL(event.target.files[0])
          }
        var categoryError = document.getElementById('category-error');

        function validateCategory() {
            var category=document.getElementById('category').value.trim();  
        
            if (category.length==0) {
                categoryError.innerHTML='category is Required';
                categoryError.style.color='red'
                return false;
                }
        
            categoryError.innerHTML='category is valid';
            categoryError.style.color='green'
            return true;
            }

        jQuery_1_7_1(document).on("submit", "form", function (e) {
            validateCategory()
    
            if (validateCategory()) {
                
            } else {
                e.preventDefault();
                swal('Invalid data! Ensure You have entered correct data');
                return true;
            }
        });
    
        </script>
   
{% endblock%}
