{% extends 'base.html' %}
{% load static%}

		
{% block content%}

<style>
	#wrapper .text {
	  position:relative;
	  bottom:30px;
	  left:0px;
	  visibility:hidden;
	  }
  
	  #wrapper:hover .text {
	  visibility:visible;
	  }
  
  </style>

	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1" style="background-image: url(static/images/slide-01.jpg);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 ">
							<!-- <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									Say hello to healthy diet
								</span>
							</div> -->
								
							<div class="layer-slick1 animated visible-false " data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1 ml-3 ml-md-0">
									Say hello to healthy diet
								</h2>
							</div>
								
							
						</div>
					</div>
				</div>

				
			</div>
		</div>
	</section>

	<div class="container p-t-100" >
		<h3 class="text-center font-weight-bold" style="color: #4D0808; font-family:poppins">CATEGORIES</h3>
	</div>


	<!-- Banner -->
	<div class="sec-banner bg0 p-t-100 p-b-50" id="dry_fruits">
		<div class="container" >
			<div class="row">

				{% for category in category%}

				

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						{%if category.offer > 0%}
						<div class="p-b-18" style="position: absolute;margin-left: 19.5rem;margin-top: 0.8rem;" >
							<span class="block1-name stext-102 trans-04 btn btn-light btn-sm" style="color: #4D0808;">
								{{category.offer}}% off
							</span>
						</div>
						{%endif%}
						<img src="{{category.image.url}}" alt="IMG-BANNER" style="height:245px;">
						

						<a href="products/{{category.id}}" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="row ">
								
								<div class="block1-txt-child2 d-flex justify-content-end" style="border-bottom: 0px;">
									<span class="block1-name ltext-102 trans-04 p-b-8 ml-3">
										{{category.category_name}}
									</span>
									
								</div>
								
							</div>
							

							<div class="block1-txt-child2 p-b-5 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>
				
				{%endfor%}
				{% for message in messages%}
                          <script>
                            swal('{{message}}')
                          </script>
				  {%endfor%}

				
			</div>
		</div>
	</div>
	{% endblock%}

	


	