{% extends 'base.html' %}
{% load static%}



{% block content%}
<!-- Product Detail -->
<div class="mt-5 pt-5">
    <section class="sec-product-detail bg0 p-t-65 p-b-60">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-7 p-b-30">
                    <div class="p-l-25 p-r-30 p-lr-0-lg">
                        <div class="wrap-slick3 flex-sb flex-w">
                            <div class="wrap-slick3-dots"></div>
                            <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
    
                            <div class="slick3 gallery-lb">
                                <div class="item-slick3" data-thumb="{{product.image.url}}">
                                    <div class="wrap-pic-w pos-relative">
                                        <img style="height:21.3rem;" src="{{product.image.url}}" alt="IMG-PRODUCT" class="zoom-p">
    
                                        
                                    </div>
                                </div>
    
                                <div class="item-slick3" data-thumb="{{product.image2.url}}">
                                    <div class="wrap-pic-w pos-relative">
                                        <img src="{{product.image2.url}}" alt="IMG-PRODUCT" class="zoom-p">
    
                                        
                                    </div>
                                </div>
    
                                <div class="item-slick3" data-thumb="{{product.image3.url}}">
                                    <div class="wrap-pic-w pos-relative">
                                        <img src="{{product.image3.url}}" alt="IMG-PRODUCT" class="zoom-p">
    
                                        
                                    </div>
                                </div>
                                <div class="item-slick3" data-thumb="{{product.image4.url}}">
                                    <div class="wrap-pic-w pos-relative">
                                        <img src="{{product.image4.url}}" alt="IMG-PRODUCT" class="zoom-p">
    
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6 col-lg-5 ">
                    <div class="p-r-50 p-t-5 p-lr-0-lg">
                        <h4 id="product-name" class="mtext-105 cl2 js-name-detail p-b-14">
                            {{product.product_name}}
                        </h4>
    
                        <span class="mtext-106 cl2">
                            ₹{{product.price}}
                        </span>
    
                        <p class="stext-102 cl3 p-t-23">
                            {{product.desc}}
                        </p>
                        <!-- <div class="flex-w flex-m  respon7 pt-3">
                            <div class="flex-m bor9 p-r-10 m-r-11">
                                <p  class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
                                    data-tooltip="Add to Wishlist">
                                    <i class="zmdi zmdi-favorite"></i>
                            </p>
                            </div>
                        
                            
                        </div> -->
    
                        <!--  -->
                        <div class="p-t-10">
                            <div class="flex-w p-t-10">
                                <div class="size-204 flex-w flex-m respon6-next">
                                    <a href="/cart/addTocart/{{product.id}}">
                                        <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail mt-5">
                                            Add to cart
                                        </button>
                                    </a>
                                            
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    
        
    </section>
    </div>

    
    
   



{% endblock%}

{% block js%}
{%endblock%}