{% extends 'base.html' %}
{% load static%}



{% block content%}

<style>

</style>

<div class="bg0 m-t-100 p-b-140">
    <div class="container">

        <div >
            <h3 class="text-center font-weight-bold" style="color: #4D0808; font-family:poppins;text-transform: uppercase;">CHECKOUT</h3>
        </div>
        
        <div class="row">
            

            <div class="col-12 col-xl-6 mt-5">

                

                <div class="col-md-12">
                    
                    <div class="card ">
                        <div class="text-end">
                            <a href="/cart/addaddress" class="btn btn-outline-secondary btn-sm ms-5 " style="color: #4D0808;">Add new address</a>
                        </div>
                        <div class="card-header d-flex">
                            Choose Address
                            
                        </div>
                        
                        <div class="card-body">

                            <form action = "/cart/checkout" method="POST">
                        
                                {% csrf_token %}
                            {% for address in address %}

             
                                <input type="radio" class="m-1" name="address_id" id="address_id" value="{{address.id}}" checked><label>
                                
                                <div class="card-body" >
                                    <div class="card-body">
                                    <h5 class="card-title">{{address.name}}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{address.phone}}</h6>
                                    <p class="card-text">{{address.address}}<br>
                                        {{address.city}}<br>
                                        {{address.pincode}}<br>
                                        {{address.state}}<br>
                                    </p>
                                    </div>
                                </div></label>
                            
                                {% endfor %}
                                <input hidden type="text" value="{{total}}" name="new_total">
                                <div class="d-flex">
                                
                                    <!-- <button class="btn my-2 text-light button" type="submit" style="width:50%; background:#4D0808;">Select Address</button>  -->
        
                                </div>

                                <div class="mt-5">
                                    <h4 class="mtext-109 cl2 p-b-30">
                                        Payment Method:
                                    </h4>
                                        
                                      <ul>
                                      <li>
                                        <input hidden type="radio" id="cod" name="payment_selector" value="Cash on delivery" checked>
                                        
                                        <div class="check"></div>
                                      </li>
                                    </ul>
                                    <div class="p-lr-40 p-t-20 p-b-30 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                                      <a href="/cart/checkout"><button class="btn btn-dark payWithRazorpay w-100 rounded-pill" type="submit" style="height:45px;border-radius: 50px;font-weight:bold;font-size:19px;"
                                        > <i>Cash on Delivery</i> </button> 
                                      </a> 
                                   </div>
                                    <div class=" p-lr-40   m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm" id="paypal-button-container">
                
                                    </div>
                                    <div class="  p-lr-40 p-t-20 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                                    <button type="button" class="btn btn-dark payWithRazorpay w-100 rounded-pill" 
                                     id="rzp-button1" style="height:45px;border-radius: 50px;font-weight:bold;font-size:19px;">
                                     <i>RazorPay</i>
                                    </button>
                                    </div>
        
                                </div>
                                
                             </form>        
                            
                            
                            </div>
                            
                        </div>
                        
                        

                        
                        <!-- <div class="card" style="width: 18rem;">
                            
                            <div class="card-body">
                              <h5 class="card-title">Choose Address</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary"></a>
                            </div>
                        </div> -->

                        

                        

                    </div>

            </div>

            <div class="col-12 col-xl-6 mt-5" style="float: right;">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <h4 class="mtext-109 cl2 p-b-30">
                        Cart Totals
                    </h4>

                    <div class="flex-w flex-t bor12 p-b-13">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                Subtotal:
                            </span>
                        </div>

                        <div class="size-209">
                            <span class="mtext-110 cl2">
                                ₹{{subtotal}}
                            </span>
                        </div>
                    </div>

                    <div class="flex-w flex-t bor12 mt-3 pb-2">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                Shipping:
                            </span>
                        </div>

                        <div class="size-209">
                            <span class="mtext-110 cl2">
                                Free
                            </span>
                        </div>
                    </div>

                    

                    <div class="flex-w flex-t p-t-27 p-b-33">
                        <div class="size-208">
                            <span class="mtext-101 cl2">
                                Total:
                            </span>
                        </div>

                        <div class="size-209 p-t-1">
                            <span class="mtext-110 cl2">
                                ₹{{total}}
                            </span>
                        </div>
                    </div>
                    
                </div>
                  <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm mt-4">
                    <h4 class="mtext-109 cl2 p-b-30">
                      ADD Coupon
                  </h4>
                  <form action="/cart/checkout" method="post">{%csrf_token%}
                  <input type="text" class="form-control" name="code">
                  <button type="submit" class="btn  btn-secondary col-12 mt-3 text-center mx-auto">APPLY</button>
                </form>
                    </div>
            

                
          </div>



        </div>
        {% for message in messages %}
				<script>
					swal('{{message}}')
				</script>
				{% endfor %}

        

        
    </div>
</div>

    <!-- paypal -->
    <script src="https://www.paypal.com/sdk/js?client-id=AfqNfHufjMpuXG-QXA06DOCV33KHlPsTbFhm4wNBLRlFuLR-RM74qcY9MbtABKE2r07emMSGhtlapFWc&currency=USD&disable-funding=card"></script>
    <script>
        paypal.Buttons({
            style:{
                layout: 'vertical',
                color: 'black',
                shape:'pill',
            },
          //onclick: function(data, actions) {
           // return actions.resolve();
            
          //},
          // Sets up the transaction when a payment button is clicked
          createOrder: (data, actions) => {
            return actions.order.create({
              purchase_units: [{
                amount: {
                  value: '{{total}}' // Can also reference a variable or function
                }
              }]
            });
          },
          // Finalize the transaction after payer approval
          onApprove: (data, actions) => {
            return actions.order.capture().then(function(orderData) {
              console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
              
    
              //var amount = $('#grand_total').val()
              //var cart = $('#cart').val()
              var address = $('#address_id').val()
              if (address == undefined){
                swal('Add address').then(()=>{
                            location.reload();
                            })
        
              }
              else{

              console.log("----------------------")
              console.log(address)
              
              var payment = "PayPal"
              var token = $("input[name='csrfmiddlewaretoken']").val()
              $.ajax({
                url: "/cart/checkout",
                type: "POST",
                data: {
                  'csrfmiddlewaretoken': token,
                  //'amount': amount,
                  //'cart': cart,
                  'address_id': address,
                  'payment_selector': payment,
                },
                success: function(response) {
                  console.log(response)
                  
                    swal({
                      title: "Payment Successful",
                      text: "Your payment is successful",
                      icon: "success",
                      button: "Continue Shopping",
                    }).then(function() {
                      window.location.href = "/";
                    });
                 
                }
              })
            }
              
            });
            
          }
        }).render('#paypal-button-container');
          
          function alreadyApplied(){
              swal("Already Applied", "You have already applied the code", "error");
          }
        </script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  $(document).ready(function() {
    $('#rzp-button1').click(function (e) { 
      var address = $('#address_id').val()
      if (address == undefined){
        swal('Add address').then(()=>{
                    location.reload();
                    })

      }
      else{
      var payment = "Razorpay"
      var token = $("input[name='csrfmiddlewaretoken']").val()
      e.preventDefault();
      $.ajax({
            type: "GET",
            url: "/cart/razorpay",
            success: function (response) {
                var options={
                    "key": "rzp_test_JeIuBXxwdG9tNG", // Enter the Key ID generated from the Dashboard
                    //"amount": response.total*100,//response.total, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "amount":'{{total}}'*100,
                    "currency": "INR",
                    "name": "cart",
                    "description": "Thank you for shopping with us",
                     "image": "https://example.com/your_logo", 
                    // "order_id": response.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (response){
                        // alert(response.razorpay_payment_id);
                        data = {
                            "id": response.razorpay_payment_id,
                            "address_id" : address,
                            "payment_selector" : payment,
                            'csrfmiddlewaretoken': token
                        }
                        $.ajax({
                            type: "POST",
                            url: "/cart/checkout",
                            data: data,
                            success: function(response) {
                              console.log(response)
                              
                                swal({
                                  title: "Payment Successful",
                                  text: "Your payment is successful",
                                  icon: "success",
                                  button: "OK",
                                }).then(function() {
                                  window.location.href = "/";
                                });
                             
                            }
                        });
                    },
                    "prefill": {
                        "name": "Haseeb",
                        "email": "",
                        "contact": "987654321",
                    },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#3399cc"
                    },
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();
            }
          
        });
      }
    });
});

</script>

{% endblock%}
{% block js %}
<!-- <script src="https://checkout.razorpay.com/v1/checkout.js"></script> -->

{% endblock %}