{% extends 'base.html' %}
{% load static%}



{% block content%}

<div class="bg0 m-t-100 p-b-140">
    <div class="container">
        <div >
            <h3 class="text-center font-weight-bold mb-5" style="color: #4D0808; font-family:poppins;text-transform: uppercase;">Wishlist</h3>
        </div>

        <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
            <div class="m-l-5  m-lr-0-xl">
                <div class="wrap-table-shopping-cart">
                    <table class="table table-hover">
                        <tr class="table_head">
                            <th class="column-1">Product</th>
                            <th class="column-2">Name</th>
                            <th class="column-3">Price</th>
                        </tr>
                        {% for cart in cart %}

                        <tr class="table_row">
                            <td class="column-1">
                                <div class="how-itemcart1">
                                    <img src="{{cart.product.image.url}}" alt="IMG">
                                </div>
                            </td>
                            <td class="column-2">{{cart.product.product_name}}</td>
                            <td class="column-3">{{cart.product.price}}</td>
                            <td class="column-4">
                                <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                    
                                    <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                        <!-- <a href="/cart/minus/{{cart.id}}" ><i class="fs-16 zmdi zmdi-minus text-dark"></i></a> -->
                                        <button class=" btn minus" onclick=down({{cart.id}})>-</button>
                                    </div>
                                    
                                    <button class="mtext-104 cl3 txt-center num-product" id="{{cart.id}}"  type="number" name="num-product1" value="{{cart.quantity}}" >{{cart.quantity}}</button>
                                    <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                        <!-- <a href="/cart/up/{{cart.id}}"><button type="button"><i class="fs-16 zmdi zmdi-plus text-dark"></i></button></a> -->
                                        <button class="border btn up" onclick=up({{cart.id}})>+</button>
                                        

                                    </div>
                                </div>
                            </td>
                            <td class="column-5">{{p_total}}</td>
                                <!-- <td><button class="btn btn-outline-danger btn-sm remove mt-1" onclick=removeCart({{cart.id}})  id="removecart" >Remove</button></td> -->
                                <td><a class="btn btn-outline-danger" data-toggle="modal" data-target="#removeModal{{cart.id}}">Remove</i></a>

                                </td>

                        </tr>


                         <!-- Modal Remove-->
                            <div class="modal fade" id="removeModal{{cart.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <p class="modal-title text-danger" id="exampleModalLabel">Remove item</p>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body ">
                                    Are You sure to Remove the item?
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a href="/cart/removecart/{{cart.id}}"><button type="button" class="btn btn-danger">Remove</button></a>
                                    </div>
                                </div>
                                </div>
                            </div>
                        
                        {%endfor%}
                        
                    </table>
                </div>

            </div>
        </div>

    
    
    
    
    
    
    
    
    
    
    </div>
</div>
{% endblock %}