
{% extends 'admin_base.html' %}
{% load static%}

{% block content%}

      <div class="content">
        <h3 class=" mt-5 pb-5" style="color: #4D0808; font-family:poppins;">ORDER MANAGEMENT</h3>

        <table id="example" class="table table-striped table-bordered" style="width:100%">
        
          <thead>
            <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">order Id</th>
            <th scope="col">Customer</th>
            <th scope="col">Amount</th>
            <th scope="col">Payment Method</th>
            <th scope="col">Order Status</th>
            </tr>
          </thead>
          <tbody>
            
            {%for user in user_list%}
    
            <tr>
            <td >{{order.id}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone_number}}</td>
            <td>{{user.phone_number}}</td>

            <!-- <td>

            {% if user.is_active %}
                                    
            <a  class="btn btn-outline-danger" href= "/admin_users/block_user/{{user.id}}"><i onclick="return confirm('Are you sure to block '+' {{user.first_name}} ?')">Block</i></a>
                                        
            {% else %}
                                   
            <a class="btn btn-outline-danger" href= "/admin_users/unblock_user/{{user.id}}"><i onclick="return confirm('Are you sure to unblock '+' {{user.first_name}} ?')">unblock</i></a>
                                    
            {% endif %}

            </td> -->
            </tr>
            {%endfor%}
            
          </tbody>
          </table>

      </div>

  {%endblock%}
  {% block js %}

      <script>
        $(document).ready(function () {
          $('#example').DataTable();
      });
      </script>


{%endblock%}