{% extends 'admin_base.html' %}
{% load static%}
{% block content%}

    <div class="content">

        <div id="alert-box"></div>
        <div id="image-box" class="mb-3"></div>

        <div class="container tm-mt-big tm-mb-big">
            <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                    <h2 class="tm-block-title d-inline-block">Add Product</h2>
                    </div>
                </div>
                <div class="row tm-edit-product-row">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                    <form action="" class="tm-edit-product-form" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                        <label
                            for="name"
                            >Product Name
                        </label>
                        <input
                        id="name"
                        onkeyup="validateName()"
                            name="product_name"
                            type="text"
                            class="form-control validate"
                            
                        />
                        </div>
                        <span id="name-error" ></span>

                        <div class="form-group mb-3">
                        <label
                            for="description"
                            >Description</label
                        >
                        <textarea
                        id="description"               
                        onkeyup="validateDescription()"
                            name="desc"
                            class="form-control validate"
                            rows="3"
                        ></textarea>
                        </div>
                        <span id="description-error" ></span>

                        

                            

                        <div class="form-group mb-3">
                        <label
                            for="category"
                            >Category</label
                        >
                        <select
                            class="custom-select tm-select-accounts"
                            id="category" onkeyup="validateCategory()"
                            name="category" required
                        >
                            <option selected>Select category</option>
                            {%for category in category%}
                            <option value="{{category.id}}" >{{category.category_name}}</option>
                            {%endfor%}
                        </select>
                        </div>
                        <span id="category-error"></span>

                        <div class="row">
                            <div class="form-group mb-3 col-xs-12 col-sm-6">
                                <label
                                for="price"
                                >Price
                                </label>
                                <input
                                id="price" 
                            onkeyup="validatePrice()"
                                name="price"
                                type="text"
                                class="form-control validate"
                                data-large-mode="true"
                                />
                            </div>
                            <span id="price-error"></span>

                            <div class="form-group mb-3 col-xs-12 col-sm-6">
                                <label
                                for="price"
                                >Stock
                                </label>
                                <input
                                id="stock"
                                onkeyup="validateStock()"
                                name="quantity"
                                type="text"
                                class="form-control validate"
                                data-large-mode="true"
                                />
                            <span id="stock-error"></span>

                        </div>
                            
                        </div>
                        
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">


                        <div class="form-group mt-3">
                            <img src="" alt="" id="myimg" >
                            <label for="pimage">Image</label>
                            <input type="file" class="form-control" name="image" id="image" onchange=file_changed()  placeholder="Product Image">
                            <span id="errorimage" class="text-danger">
                          </div>

                          <!-- <div class="box-2">
                            <div class="result">

                            </div>
                          </div>
                          <div class="box-2 img-result hide">
                            <img src="" alt="" class="cropped">

                          </div>

                          <div class="box">
                            <div class="options hide">

                            </div>
                          </div> -->

                          

                          <div class="form-group mt-3">
                            <img src="" alt="" id="myimg2">
                            <label for="pimage">Image 2</label>
                            <input type="file" class="form-control" onchange=file_changed2() name="image2" id="image2"   placeholder="Product Image">
                            <span id="errorimage" class="text-danger">
                          </div>
                          <div class="form-group mt-3">
                            <img src="" alt="" id="myimg3">
                            <label for="pimage">Image 3</label>
                            <input type="file" class="form-control" onchange=file_changed3() name="image3" id="image3"   placeholder="Product Image">
                            <span id="errorimage" class="text-danger">
                          </div>
                          <div class="form-group mt-3">
                            <img src="" alt="" id="myimg4">
                            <label for="pimage">Image 4</label>
                            <input type="file" class="form-control" name="image4" onchange=file_changed4() id="image4"   placeholder="Product Image">
                            <span id="errorimage" class="text-danger">
                          </div>
                    </div>
                    {% for message in messages%}
                          <script>
                            swal('{{message}}')
                          </script>
				  {%endfor%}
                    <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Product Now</button>
                    </div>
                </form>
            </div>
                </div>
            </div>
            </div>
        </div>

        <script>
            function file_changed(){
                var selectedFile = document.getElementById('image').files[0];
                var img = document.getElementById('myimg')
              
                var reader = new FileReader();
                reader.onload = function(){
                   img.src = this.result
                }
                reader.readAsDataURL(selectedFile);
               }

               function file_changed2(){
                var selectedFile = document.getElementById('image2').files[0];
                var img = document.getElementById('myimg2')
              
                var reader = new FileReader();
                reader.onload = function(){
                   img.src = this.result
                }
                reader.readAsDataURL(selectedFile);
               }
               function file_changed3(){
                var selectedFile = document.getElementById('image3').files[0];
                var img = document.getElementById('myimg3')
              
                var reader = new FileReader();
                reader.onload = function(){
                   img.src = this.result
                }
                reader.readAsDataURL(selectedFile);
               }
               function file_changed4(){
                var selectedFile = document.getElementById('image4').files[0];
                var img = document.getElementById('myimg4')
              
                var reader = new FileReader();
                reader.onload = function(){
                   img.src = this.result
                }
                reader.readAsDataURL(selectedFile);
               }
        </script>
        


    <script>
        var nameError = document.getElementById('name-error');
        var descriptionError = document.getElementById('description-error');
        var categoryError = document.getElementById('category-error');
        var priceError = document.getElementById('price-error');
        var stockError = document.getElementById('stock-error');
        var imageError = document.getElementById('image-error');

        
        
        
        
        function validateName() {
            var name=document.getElementById('name').value.trim();  
            var Required=4;
            var left=Required - name.length;
            if (name.length==0) {
                nameError.innerHTML='Product name is Required';
                nameError.style.color='red'
                return false;
                }
            
            if (left>0){
                
                nameError.innerHTML =left+ 'more character Required';
                nameError.style.color='red'
                return false;
            
            }
            nameError.innerHTML='Name is valid';
                nameError.style.color='green'
                return true;
            }
        
        
        
        function validateDescription() {
            var description =document.getElementById('description').value.trim();
            var Required=10;
            var left=Required - description.length;
        
            if(left>0){
                descriptionError.innerHTML =left+ 'more character Required';
                descriptionError.style.color='red'
                return false;
        
                }
            descriptionError.innerHTML='Description is valid';
            descriptionError.style.color='green'
            return true;    
        
        }
        
        function validatePrice() {
            var price=document.getElementById('price').value.trim();  
        
            if (price.length==0) {
                priceError.innerHTML='Product price is Required';
                priceError.style.color='red'
                return false;
                }
            if (!/^[0-9]+$/.test(price)) {
                    priceError.innerHTML = "price must be digits"
                    priceError.style.color='red'
                    return false;
            }
        
            
        
            priceError.innerHTML='Price is valid';
            priceError.style.color='green'
            return true;
            }
        
        function validateStock() {
            var stock=document.getElementById('stock').value.trim();  
        
            if (stock.length==0) {
                stockError.innerHTML='stock is Required';
                stockError.style.color='red'
                return false;
                }
            if (!/^[0-9]+$/.test(stock)) {
                priceError.innerHTML = "stock must be digits"
                priceError.style.color='red'
                return false;
            }
        
            stockError.innerHTML='stock is valid';
            stockError.style.color='green'
            return true;
            }

        function validateCategory() {
            var category=document.getElementById('category');
            var invalid = category.value == 'Select category'
        
            if (invalid) {
                categoryError.innerHTML='category is Required';
                categoryError.style.color='red'
                return false;
                }
        
            categoryError.innerHTML='Category is valid';
            categoryError.style.color='green'
            return true;
        }
        jQuery_1_7_1(document).on("submit", "form", function (e) {
            validateName()
            validateStock()
            validatePrice()
            validateDescription()
            
            if (validateName() && validateStock() && validatePrice() && validateDescription() ) {
               
            } else {
                e.preventDefault();
                swal('Invalid data! Ensure You have entered correct data');
                return true;
            }
        });
        

        

        

        
    </script>



{% endblock%}
