
{% extends 'admin_base.html' %}
{% load static%}

{% block content%}




      <div class="content">
        <h3 class=" mt-5" style="color: #4D0808; font-family:poppins;">PRODUCT MANAGEMENT</h3>

        <a href="/admin_products/add_product"><button class="btn btn-outline-primary mt-5 float-right">ADD PRODUCT</button></a>

        <table class="table table-hover table-responsive mt-5">
          <thead>
            <tr>
            
            <th scope="col">Product Name</th>
            <th scope="col">Category</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>

            </tr>
          </thead>
          <tbody>
            
            {%for product in products%}
    
            <tr>
              <td><textarea  readonly style="background-color: #ffffff;"                  
                class="form-control validate tm-small"
                name="desc"
                rows="5"
                required
            >{{product.product_name}}</textarea>
            </div></td>
            <td>{{product.category}}</td>
            <td><img src="{{product.image.url}}" style="height:100px;width: 100px;border-radius: 14%;" alt=""></td>
            <td>₹{{product.price}}</td>
            <td><textarea  readonly style="background-color: #ffffff;"                  
              class="form-control validate tm-small"
              name="desc"
              rows="5"
              required
          >{{product.desc}}</textarea>
          </div></td>
            
            <td><a href="edit_product/{{product.id}}"> <button class="btn btn-outline-primary " type="submit" >Edit</button></a></td>
			<td><a href="delete_product/{{product.id}}"> <button onclick ="return confirm('Delete {{product.product_name}}?')" class="btn btn-outline-danger " type="submit">Delete</button></a></td>
			</tr>
            {%endfor%}
            
          </tbody>
          </table>
      </div>


{%endblock%}